/**
 * ✉️ Transparent DM Button
 * @author AcheronX
 * @description Transparent DM button to fit theme
 * @version 1
 * @source https://github.com/Gg2jdjdjdwi
 */

/* 🔘 Default - transparent blue bg, no border/shadow */
.actionButton_f8fa06 {
  background-color: rgba(18, 36, 116, 0.349) !important;
  border: none !important;
  box-shadow: none !important;
  transition: background-color 0.3s, opacity 0.3s !important;
}

/* ✨ Hover - darker blue with slight opacity */
.actionButton_f8fa06:hover {
  background-color: rgb(32, 34, 136) !important;
  opacity: 0.7 !important;
}
